*{
    margin: 0px;
}
.mainStart{
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin-bottom: 8%;
    left: 50%;
    transform: translateX(-45%);
}


#Start{
    border-radius: 50px;
    width: 150px;
    height: 40px;
    font-size: 14px;
    background-color: brown;
    color: aliceblue;
}
.nameDiv{
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin-bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
#name{
    margin: 25px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}
#idName{
    
    font-size: 20px;
    
}
